# Im EATECH Hauptordner
echo "node_modules/" > .gitignore
echo ".env" >> .gitignore
echo ".env.local" >> .gitignore
echo "dist/" >> .gitignore
echo "build/" >> .gitignore
echo ".DS_Store" >> .gitignore
echo "*.log" >> .gitignore
echo ".firebase/" >> .gitignore
echo ".firebaserc" >> .gitignore